body {
    background-color: rgb(83, 123, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 470px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(77, 77, 77);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#flista {
    width: 160px;
}