body {
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(77, 77, 77);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#msg {
    text-align: center;
}

#foto {
    text-align: center;
}